extends layout

block content
  h1= title
  - var results = [{NameofBeverages: 'Coffee', VolumeofBeverages: 200, OriginofBeverages: 'Columbia'},{NameofBeverages: 'Coca-Cola', VolumeofBeverages: 500, OriginofBeverages: 'USA'},{NameofBeverages: 'Demisoda Apple', VolumeofBeverages: 250, OriginofBeverages: 'Korea'}]
  #container-fluid
    #row
      each item in results
        #col-sm-2
         p #{item.NameofBeverages} #{item.VolumeofBeverages} #{item.OriginofBeverages}
